<section class="contact-container">
    <h1>{{ getTranslation('contacto') }}</h1>

    <div class="contact-form-container">
        <form>
            <div class="input-div">
                <label for="name">{{ getTranslation('nombre') }}:</label>
                <input type="text" placeholder="{{ getTranslation('escribeNombre') }}">
            </div>

            <div class="input-div">
                <label for="subject">{{ getTranslation('asunto') }}:</label>
                <input type="text" placeholder="{{ getTranslation('escribeAsunto') }}">
            </div>

            <div class="input-div">
                <label for="name">{{ getTranslation('mensaje') }}:</label>
                <textarea name="" placeholder="{{ getTranslation('cuerpoMensaje') }}" rows="4"></textarea>
            </div>

            <div class="form-bottom">
                <p class="send-requirements">{{ getTranslation('aceptar') }}</p>

                <button class="send-btn">
                    {{ getTranslation('enviar') }}
                    <img class="flecha" src="../../assets/arrow.svg">
                </button>
            </div>
        </form>
    </div>

    <span class="back-text">Contacto</span>
</section>
