<section class="contact-container">
    <h1>Contacto</h1>

    <div class="contact-form-container">
        <form>
            <div class="input-div">
                <label for="name">Nombre:</label>
                <input type="text" placeholder="Escribe tu nombre">
            </div>

            <div class="input-div">
                <label for="subject">Asunto:</label>
                <input type="text" placeholder="Escribe un asunto">
            </div>

            <div class="input-div">
                <label for="name">Mensaje:</label>
                <textarea name="" placeholder="Cuerpo del mensaje" rows="4"></textarea>
            </div>

            <div class="form-bottom">
                <p class="send-requirements">Al enviar aceptas que Hyperloop UPV almacene tus datos</p>

                <button class="send-btn">
                    Enviar
                    <img class="flecha" src="../../assets/arrow.svg">
                </button>
            </div>
        </form>
    </div>

    <span class="back-text">Contacto</span>
</section>
