<section class="news-container">
    <div class="news-subcontainer">
        <h1>{{ getTranslation('noticias') }}</h1>

        <div class="news-list">
           
            <div class="news-section">
                <app-news-miniature class="not-1"></app-news-miniature>
                <app-news-miniature class="not-2"></app-news-miniature>
                <app-news-miniature class="not-3"></app-news-miniature>
            </div>

            <div class="news-section">
                <app-news-miniature class="not-1"></app-news-miniature>
                <app-news-miniature class="not-2"></app-news-miniature>
                <app-news-miniature class="not-3"></app-news-miniature>
            </div>-->
        </div>

        <span class="back-text">{{ getTranslation('noticias') }}</span>
    </div>
</section>
