html {
    overflow: none;
}
.news-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    background: rgb(255,255,255);
    background: linear-gradient(149deg, rgba(255,255,255,1) 0%, rgba(218,218,226,1) 100%);
}

.news-subcontainer {
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;
}

.news-list {
    display: flex;
    margin-top: 5rem;
    width: 100vw;
    flex-direction: column;
}

.news-section {
    display: flex;
    justify-content: space-around;
    width: 95vw;
    margin: 0 auto;
    margin-bottom: 10vh;
}

h1 {
    display: inline;
    width: min-content;
    height: min-content;
    font-size: 7rem;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: rgb(170,78,47);
    background: linear-gradient(149deg, rgba(170,78,47,1) 0%, rgba(71,72,117,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 11rem !important;
}

.not-2 {
    margin-top: 10vh;
}

.not-3 {
    margin-top: 20vh;
}

.back-text {
    position: fixed;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0f0f0f15;
    font-size: 50rem;
    margin: 0;
    z-index: 0;
    font-weight: 500;
    bottom: -20rem;
    right: -60rem;
}

@media only screen and (max-width: 985px) {
    .news-section {
        width: 100vw;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .not-1 {
        margin-top: 0;
    }

    .not-2 {
        margin-top: 5rem;
    }
    
    .not-3 {
        margin-top: 5rem;
    }
}