<section class="section">
  <header>
      <a class="return-link" routerLink="/noticias"><img src="../../assets/arrow.svg" alt="">Volver</a>
      <app-noticia>{{noticia.title}}</app-noticia>
      <a></a>
  </header>

  <div class="new-container">
      <div class="section-separator">
          <img src="../../assets/section1.png" alt="Section image" class="section-image">
        </div>
    
        <div class="section-separator section-txt">
          <h2 class="fecha">{{noticia.date}}</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rutrum rutrum diam, quis porta lorem faucibus vel. Aenean a tincidunt eros. Vestibulum tincidunt volutpat erat quis ullamcorper. Sed in metus nulla. Maecenas ultrices elit mi, id condimentum risus ultrices quis. Suspendisse venenatis justo ac augue sodales iaculis commodo id turpis. Vestibulum sit amet porttitor nisi. Pellentesque nunc turpis, dictum sit amet nisi eget, pharetra porttitor metus. Phasellus vel congue sapien.
          <br><br>
          Nam arcu sem, finibus et diam eget, venenatis auctor arcu. Suspendisse nec lacus erat. Aliquam id sapien eget nunc vehicula molestie. Sed arcu odio, bibendum sed velit nec, condimentum laoreet sem. Proin id eleifend nunc. Etiam vestibulum posuere tincidunt. Donec consequat volutpat sem a auctor. In hac habitasse platea dictumst. Mauris tincidunt viverra mauris non euismod. Aliquam sagittis, augue ut pulvinar lacinia, dui lacus tristique mauris, vitae condimentum risus felis sit amet magna. Duis luctus id turpis vel imperdiet.
          <br><br>
          Phasellus turpis ligula, consequat vitae sapien id, bibendum pellentesque nibh. Nam tristique placerat erat quis feugiat. Sed eu purus non metus pellentesque ultricies. Etiam vel urna non lorem euismod interdum. Vestibulum efficitur laoreet tortor vel ornare. Pellentesque lectus magna, dapibus a dui ac, placerat sollicitudin purus. Nulla commodo posuere condimentum. Nullam faucibus vulputate dolor quis convallis. In finibus, sapien sed iaculis rhoncus, nunc quam finibus massa, a porttitor enim eros eu magna.
          <br><br>
          Suspendisse id nisl nec nisi vehicula dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc at luctus arcu. Etiam eget felis ac mauris convallis ornare. Sed commodo urna sapien, nec laoreet dolor scelerisque vel. Pellentesque non lorem sit amet nisl rhoncus elementum. Etiam id odio sit amet sem porttitor volutpat vel laoreet orci. Donec quis justo ut orci finibus porttitor.
          <br><br>
          Proin vitae elementum nulla. Vivamus placerat molestie turpis, id rutrum turpis elementum suscipit. Curabitur eget metus non metus volutpat luctus. Integer accumsan porttitor elementum. Nulla et felis tincidunt, posuere mi sit amet, tempus tortor. Sed finibus convallis erat vitae varius. Quisque consequat cursus ipsum, id tempor est scelerisque a. In eleifend rhoncus odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a egestas urna, non laoreet metus. Nunc blandit et lacus a vehicula.</p>
        </div>
  </div>

  <span class="back-text">Noticias</span>
</section>
