img {
    background-color: #202020;
    width: 38rem;
    height: 26rem;
    position: relative;
    z-index: 2;
    filter: grayscale(.9) contrast(75%) brightness(90%) saturate(70%);
}
.news-mini {
    display: flex;
}

.news-back {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 38rem;
    height: 26rem;
    position: absolute;
    background: rgb(170,78,47);
    background: linear-gradient(149deg, rgba(170,78,47,1) 0%, rgba(71,72,117,1) 100%);
    margin-left: -1.6rem;
    margin-top: 3rem;
    z-index: 1;
    transition: all .4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

a:hover > .news-back {
    margin-left: -.5rem;
    margin-top: .5rem;
}

.news-back > p {
    margin: 0;
    color: #fff;
    margin: 0 1.2rem .5rem 1.2rem;
}

.titulo {
    font-weight: 300;
}

.fecha {
    font-weight: 200;
}