<!-- Desktop -->
<!--<main id="desktop" mouseWheel (mouseWheelUp)="scrollUp()" (mouseWheelDown)="scrollDown()">-->
<main id="mobile2">
    <section id="s1" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Direction</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container">
                <app-miembro class="app-miembro" [alias]="'MCM'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JLG'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JPC'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JLS'" [style]="'circle'"></app-miembro>
            </div>
        </div>
    </section>

    <section id="s2" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Sense & Control</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'DGC'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JCA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'ALG'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'DRA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'CRF'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'ARA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'MM'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'HG'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section id="s3" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Structures & Mechanisms</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'RG'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'ILA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JMM'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'LIA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'PGP'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'SBF'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'XM'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JAJ'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'MF'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section id="s4" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Levitation & Traction</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'EM'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'CR'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'RM'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'RM2'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>
    
    <section id="s5" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Outreach</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'AGG'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'CH'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'PDH'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'SMM'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'MR'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'AG'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FR'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section id="s6" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Partners</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'ENA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'HAB'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'LZ'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'MG'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'SE'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section id="s7" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Economics</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'JMM2'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'VAN'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section id="s8" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Faculty Advisors</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'VDR'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'TB'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section id="s9" class="section">
        <div class="left-equipo">
            <h2></h2>
            <h1>Collaborators</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FZ'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'AS'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'AF'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'DF'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'DP'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JMR'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JV'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'MP2'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'PM2'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'VS2'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <span class="back-text">Equipo</span>
    <span class="background"></span>
</main>

<!-- Mobile -->
<main id="mobile">
    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Direction</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container">
                <app-miembro class="app-miembro" [alias]="'MCM'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JLG'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JPC'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JLS'" [style]="'circle'"></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Sense & Control</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'LCP'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'DGC'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JCA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'ALG'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'DRA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'CRF'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'ARA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'MM'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'HG'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Structures & Mechanisms</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'RG'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'ILA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JMM'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'LIA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'PGP'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'SBF'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'XM'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JAJ'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'MF'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Levitation & Traction</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'EM'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'CR'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'RM'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'RM2'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>
    
    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Outreach</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'AGG'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'CB'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'CH'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'PDH'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'SMM'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'MR'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'AG'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FR'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Partners</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'ENA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'HAB'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'LZ'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'MG'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'SE'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Economics</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'JMM2'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'VAN'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Faculty Advisors</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'VDR'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'TB'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <span class="back-text">Equipo</span>
    <span class="background"></span>
</main>