<!-- Desktop -->
<!--<main id="desktop" mouseWheel (mouseWheelUp)="scrollUp()" (mouseWheelDown)="scrollDown()">-->
<main id="mobile2">
    <section id="s1" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Direction</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container">
                <app-miembro class="app-miembro" [alias]="'MCM'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JLG'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JMI'" [style]="'circle'"></app-miembro>
            </div>
        </div>
    </section>

    <section id="s2" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Sense & Control</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'JPC'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'DGC'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'LCP'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JCA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'ALG'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'CRF'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'ARA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'DRA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'APR'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section id="s3" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Structures & Mechanisms</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'JLS'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'PGP'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JMM2'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'ILA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'RMB'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'SBF'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>
    
    <section id="s4" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Outreach</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'AGG'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'APC'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'DTF'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'SMM'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'CMS'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section id="s4" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Partners</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'ENA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'MEP'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'HAB'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section id="s4" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>EHW</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'MPN'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section id="s4" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Faculty Advisors</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'VDR'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <span class="back-text">Equipo</span>
    <span class="background"></span>
</main>

<!-- Mobile -->
<main id="mobile">
    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Direction</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container">
                <app-miembro class="app-miembro" [alias]="'MCM'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JLG'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JMI'" [style]="'circle'"></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Sense & Control</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'JPC'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'DGC'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'LCP'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JCA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'ALG'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'CRF'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'ARA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'DRA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'APR'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Structures & Mechanisms</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'JLS'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'PGP'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'JMM2'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'ILA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'RMB'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'SBF'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>
    
    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Outreach</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'AGG'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'APC'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'DTF'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'SMM'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'CMS'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Partners</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'ENA'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'MEP'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'HAB'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>EHW</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" ></app-miembro>
                <app-miembro class="app-miembro" [alias]="'MPN'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Faculty Advisors</h1>
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'VDR'" [style]="'circle'" ></app-miembro>
            </div>
        </div>
    </section>

    <span class="back-text">Equipo</span>
    <span class="background"></span>
</main>