<!-- Desktop -->
<main id="desktop" mouseWheel (mouseWheelUp)="scrollUp()" (mouseWheelDown)="scrollDown()">
    <section id="s1" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Direction</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula leo id convallis lacinia. Fusce bibendum magna sed leo volutpat, eu ultrices ex tempus. Nullam egestas eget nunc et dignissim. </p>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'"></app-miembro>
            </div>
        </div>
    </section>

    <section id="s2" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Sense & Control</h1>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
            </div>
        </div>
    </section>

    <section id="s3" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Energy</h1>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
            </div>
        </div>
    </section>

    <section id="s4" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Outreach</h1>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
            </div>
        </div>
    </section>

    <section id="s5" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Dynamics</h1>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
            </div>
        </div>
    </section>

    <section id="s6" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Economics</h1>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
            </div>
        </div>
    </section>

    <section id="s7" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Mechanics</h1>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
            </div>
        </div>
    </section>

    <section id="s8" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Partners</h1>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
            </div>
        </div>
    </section>

    <section id="s9" class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Faculty advisors</h1>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'"></app-miembro>
            </div>
        </div>
    </section>

    <span class="back-text">Equipo</span>
</main>

<!-- Mobile -->
<main id="mobile">
    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Direction</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula leo id convallis lacinia. Fusce bibendum magna sed leo volutpat, eu ultrices ex tempus. Nullam egestas eget nunc et dignissim. </p>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'"></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Sense & Control</h1>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Energy</h1>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Outreach</h1>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Dynamics</h1>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Economics</h1>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Mechanics</h1>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Partners</h1>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'" [big_team]="true"></app-miembro>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="left-equipo">
            <h2>Subsistema</h2>
            <h1>Faculty advisors</h1>
            <img class="logo-subsistema" src="../../assets/icono-direction.png" alt="Direction">
        </div>

        <div class="right-equipo">
            <div class="equipo-container big-team">
                <app-miembro class="app-miembro" [alias]="'FAV'" [style]="'circle'"></app-miembro>
            </div>
        </div>
    </section>

    <span class="back-text">Equipo</span>
    <span class="background"></span>
</main>