<main mouseWheel (mouseWheelUp)="scrollUp()" (mouseWheelDown)="scrollDown()">
    <section id="s1" class="section">
        <!-- Image -->
      <div class="section-separator">
        <img src="../../assets/Imagen web 3.JPG" alt="Section image" class="section-image">
      </div>
  
      <!-- Text -->
      <div class="section-separator section-txt">
        <h3>{{ getTranslation('quienessomos') }}</h3>
        <h2>{{ getTranslation('nosotros') }}</h2>
        <p>{{ getTranslation('team') }}</p>
      </div>
    </section>
  
    <section id="s2" class="section">
      <!-- Image -->
      <div class="section-separator">
        <img src="../../assets/section1.png" alt="Section image" class="section-image">
      </div>
  
      <!-- Text -->
      <div class="section-separator section-txt">
        <h3>{{ getTranslation('nosotros') }}</h3>
        <h2>{{ getTranslation('mision') }}</h2>
        <p>{{ getTranslation('mMes') }}</p>
      </div>
    </section>
  
    <section id="s3" class="section">
      <!-- Image -->
      <div class="section-separator">
        <img src="../../assets/section2.png" alt="Section image" class="section-image">
      </div>
  
      <!-- Text -->
      <div class="section-separator section-txt">
        <h3>{{ getTranslation('nosotros') }}</h3>
        <h2>{{ getTranslation('vision') }}</h2>
        <p>{{ getTranslation('vMes') }}</p>
      </div>
    </section>
  
    <section id="s4" class="section">
      <!-- Image -->
      <div class="section-separator">
        <img src="../../assets/section3.png" alt="Section image" class="section-image">
      </div>
  
      <!-- Text -->
      <div class="section-separator section-txt">
        <h3>{{ getTranslation('nosotros') }}</h3>
        <h2>{{ getTranslation('valores') }}</h2>
        <p>{{ getTranslation('vvMes') }}</p>
      </div>
    </section>
  </main>
  