<main mouseWheel (mouseWheelUp)="scrollUp()" (mouseWheelDown)="scrollDown()">
  <section id="s1" class="section">
    <div class="landing-container">
      <img class="logo-ignis" src="../../assets/ignis.svg" alt="Logo ignis">
      <img class="prototype" src="../../assets/prototype2.png" alt="Ignis prototype">
    </div>
    <img class="esquina-down" src="../../assets/esquinaDown.png" alt="Image 1">
    <img class="esquina-up" src="../../assets/esquinaUp.png" alt="Image 2">
    <h2 class="nosotros">Nosotros</h2>
  </section>

  <section id="s2" class="section">
    <!-- Image -->
    <div class="section-separator">
      <img src="../../assets/section1.png" alt="Section image" class="section-image">
    </div>

    <!-- Text -->
    <div class="section-separator section-txt">
      <h3>Nosotros</h3>
      <h2>Misión</h2>
      <p>Hyperloop UPV busca poner a Valencia en el foco de la innovación, desarrollando prototipos del transporte del futuro diseñando y validando tecnología puntera y escalable aplicable a las soluciones ingenieriles a los problemas que dificultan el desarrollo sostenible de la sociedad.</p>
    </div>
  </section>

  <section id="s3" class="section">
    <!-- Image -->
    <div class="section-separator">
      <img src="../../assets/section2.png" alt="Section image" class="section-image">
    </div>

    <!-- Text -->
    <div class="section-separator section-txt">
      <h3>Nosotros</h3>
      <h2>Visión</h2>
      <p>Buscamos el desarrollo del quinto medio de transporte. Un transporte 100% ecológico y sostenible que facilite la creciente movilidad mundial sin perjudicar al medio ambiente. Queremos hacer de nuestro trabajo en un pequeño taller, el proyecto de toda una generación.</p>
    </div>
  </section>

  <section id="s4" class="section">
    <!-- Image -->
    <div class="section-separator">
      <img src="../../assets/section3.png" alt="Section image" class="section-image">
    </div>

    <!-- Text -->
    <div class="section-separator section-txt">
      <h3>Nosotros</h3>
      <h2>Valores</h2>
      <p>Hyperloop UPV busca poner a Valencia en el foco de la innovación, desarrollando prototipos del transporte del futuro diseñando y validando tecnología puntera y escalable aplicable a las soluciones ingenieriles a los problemas que dificultan el desarrollo sostenible de la sociedad.</p>
    </div>
  </section>
</main>
