main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(255,255,255);
    background: linear-gradient(149deg, rgba(255,255,255,1) 0%, rgba(218,218,226,1) 100%);
}

#title-sponsor {
    height: 12rem;
    margin-top: 9.5rem;
    margin-bottom: 1rem;
}

.cursiva {
    text-align: center;
    font-style: oblique;
    font-weight: 200;
    font-size: 1.8rem;
    margin: .8rem 0 2rem 0;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.2rem;
}

.arrow-down {
    text-align: center;
    margin: 4rem auto;
}


#slogan-sponsor {
    margin-bottom: 1.5rem;
}

#slogan-sponsor-2{
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#scrolldown {
    position: absolute;
    bottom: 1rem;
    left: 50vh;
    right: 50vh;
    color: #00000059;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
}

.scroll {
    width: 20px;
    height: 30px;
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    margin-top: -25px;
    margin-left: -15px;
}

.scroll .mouse {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border: 2px solid #2c3e50;
    border-radius: 20px;
}

#desktop {
    display: flex;
}

#mobile {
    display: none;
    position: relative;
    height: auto;
    overflow: auto;
    background-color: transparent;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 100vh;
    position: absolute;
    z-index: 2;
}

#mobile > .section {
    display: flex;
    align-items: center;
    width: 100vw;
    height: auto;
    top: auto;
    position: relative;
    z-index: 3;
}

#s1 {
    top: 0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-sponsors {
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem 10rem 10rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 180rem;
    height: calc(100vh - 24rem);
    flex-wrap: wrap;
}

.logo-container-2, .logo-container-3, .logo-container-4 {
    justify-content: center;
}

.logo-container > div {
    width: 20%;
}

.logo-container-3 > div {
    width: 12%;
}

.logo-container-4 > div {
    width: 10%;
}

.logo-container > div > a {
    width: 80%;
}

#mobile > .section > .logo-container-2 > div {
    width: 18%;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 32rem;
    z-index: 2 !important;
}

.img-container-gold {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26rem;
    z-index: 2 !important;
}

.logo-sponsor {
    width: 90%;
}

#valenciacf {
    width: 75%;
}

#upv {
    width: 70%;
}

#we {
    width: 70%;
}

.titles {
    margin-top: 14rem;
    height: 10rem;
}

#s2 > .titles, #s3 > .titles, #s4 > .titles {
    margin-top: 13rem;
}

h1 {
    font-size: 7rem;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: rgb(170,78,47);
    background: linear-gradient(149deg, rgba(170,78,47,1) 0%, rgba(71,72,117,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 2.1rem;
    font-weight: 200;
    text-align: center;
}

.back-text {
    position: fixed;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0f0f0f15;
    font-size: 50rem;
    margin: 0;
    z-index: 1;
    font-weight: 500;
    bottom: -20rem;
    right: -85rem;
}

.background {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(149deg, rgba(255,255,255,1) 0%, rgba(218,218,226,1) 100%);
    z-index: 0;
}

#mobile > .section > .logo-container {
    justify-content: center;
    align-items: center;
}

#mobile > .section:last-of-type {
    padding-bottom: 5rem;
}

.sponsor-div-subtitle {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.sponsor-subtitle {
    font-size: 1.9rem;
    font-weight: 200;
    width: 75%;
    margin: 1rem auto;
    line-height: 2.6rem;
    text-align: center;
}

/*.sponsor-link {
    background: rgb(170,78,47);
    background: linear-gradient(149deg, rgba(170,78,47,1) 0%, rgba(71,72,117,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: 300;
    width: 15rem;
    padding: 1.4rem 2rem;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(149deg, rgba(170,78,47,1) 0%, rgba(71,72,117,1) 100%);
    margin: 1rem;
    transition: .3s ease-in-out;
}*/

.sponsor-link {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 8rem;
    cursor: pointer;
    width: 20rem;
    padding: 2rem 0;
    border-radius: 1rem;
    z-index: 100 !important;
    background: #f7f7f7;
    transition: .3s ease-in-out;
    margin: 2rem;
    color: rgb(170,78,47);
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000048;
    z-index: 1000;
}

.pop-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60rem;
    border-radius: .3rem;
    padding: 3rem;
    box-sizing: content-box;
    background-color: #f1f1f1;
    position: relative;
}

.cerrar {
    position: absolute;
    top: 3rem;
    right: 3rem;
    color: #292929;
    cursor: pointer;
}

.aportacion {
    margin: .5rem auto;
    color: #81849b;
}

ul {
    padding: 0;
}

li {
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 200;
    padding: .6rem 0 .8rem 0;
    border-bottom: 1px solid #dddddd;
    margin: .6rem 0;
    text-align: center;
}

li:last-of-type {
    border: none;
}

.pop-cont > h2 {
    font-size: 2rem;
    font-weight: 400;
}

.sponsor-link:last-of-type {
    color: rgba(71,72,117,1);
}

.imagen-sponsors {
    width: 50rem;
    margin-top: 2rem;
}

.image-ctn {
    display: flex;
    justify-content: center;
}

.niveles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 10rem;
}

.niveles >  div {
    width: 33%;
    display: flex;
    justify-content: center;
}

.nivel {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 8rem;
    cursor: pointer;
    width: 20rem;
    padding: 2rem 0;
    border-radius: 1rem;
    z-index: 100 !important;
    background: #f7f7f7;
    transition: .3s ease-in-out;

    -webkit-box-shadow: 3px 3px 100px -20px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 100px -20px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 100px -20px rgba(0,0,0,0.2);
}

.nivel:hover, .sponsor-link:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 3px 3px 100px -20px rgba(0,0,0,0.22);
    -moz-box-shadow: 3px 3px 100px -20px rgba(0,0,0,0.22);
    box-shadow: 3px 3px 100px -20px rgba(0,0,0,0.22);
}

#premium {
    color: #394cbb;
}

#gold {
    color: #d8ae39;
}

#silver {
    color: #797980;
}

#bronze {
    color: #a85432;
}

#collaborators {
    color: #4a4c57;
}

#premium:hover {
    color: #4e67f5;
}

#gold:hover {
    color: #ffd561;
}

#silver:hover {
    color: #aeaec5;
}

#bronze:hover {
    color: #d47149;
}

#collaborators:hover {
    color: #6e7392;
}

@media only screen and (max-width: 1400px) {
    .titles {
        margin-top: 10rem;
    }
}

@media only screen and (max-width: 1200px) {
    .logo-container > div {
        width: 20%;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 6rem 6rem 6rem;
        box-sizing: border-box;
        width: 100%;
        max-width: 140rem;
        height: calc(100vh - 24rem);
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 985px) {
    #scrolldown {
        display: none;
    }

    .nivel {
        margin: .8rem;
        width: 100%;
    }

    .niveles > div {
        width: 90%;
    }

    .niveles {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 8rem;
    }

    #desktop {
        display: none;
    }

    #mobile {
        display: flex;
    }

    .logo-container > div {
        width: 10rem;
        height: auto;
    }
    .logo-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        height: auto;
        flex-wrap: wrap;
    }
    .img-container {
        width: 25rem;
        height: 25rem;
    }
    .titles {
        margin-top: 6rem;
        height: 6rem;
    }
    #mobile > .section:first-of-type > .titles {
        margin-top: 8rem;
    }
    h1 {
        font-size: 5.5rem;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        background: rgb(170,78,47);
        background: linear-gradient(149deg, rgba(170,78,47,1) 0%, rgba(71,72,117,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
    h2 {
        margin: 0;
        font-size: 1.6rem;
        font-weight: 200;
        text-align: center;
    }
    
    #slogan-sponsor-2 {
        font-size: 2.3rem;
    }

    #mobile > .section > .logo-container > div {
        width: 8rem;
        margin-top: .6rem;
    }
    #mobile > .section > .logo-container-2 > div {
        width: 15rem;
    }

    #s2 > .titles {
        margin-top: 8rem;
    }
}

@media only screen and (max-width: 600px) {
    .pop-cont {
        width: 70%;
        max-width: 60rem;
    }

    #title-sponsor {
        height: 8rem;
    }

    #slogan-sponsor-2 {
        font-size: 1.6rem;
    }

    .logo-container > div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 1.4rem;
    }

    .titles {
        margin-top: 2.5rem;
        height: 4rem;
    }

    #title-sponsor {
        width: 92%;
    }

    .sponsor-subtitle {
        text-align: justify;
        width: 92%;
    }

    .sponsor-div-subtitle {
        padding: 0 1rem;
    }

    .links-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 0;
    }
}

@media only screen and (max-width: 360px) {
    .sponsor-div-subtitle {
        margin-top: 6rem;
    }

    .sponsor-subtitle, .cursiva {
        font-size: 1.65rem;
    }

    .sponsor-link {
        margin: .5rem;
        width: 95%;
    }

    #s2 {
        width: 95%;
    }

    #s2 > .titles, #s3 > .titles, #s4 > .titles {
        margin-top: 5rem;
    }

    .niveles > div {
        width: 100%;
    }

    .nivel {
        margin: .8rem;
        width: 100%;
    }

    .niveles {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 8rem;
    }
}