<!-- Desktop -->
<article *ngIf="popup.length > 0" class="popup">
    <div class="pop-cont">
        <h2>{{ getTranslation('ventajas') }} {{popup}}</h2>
        <ul class="lista-de-ventajas">
            <li *ngFor="let item of ventajas[popup].ventajas">{{item}}</li>
        </ul>
        <span class="cerrar" (click)="openSponsorLevel('')">╳</span>
    </div>
</article>

<main id="desktop" mouseWheel (mouseWheelUp)="scrollUp()" (mouseWheelDown)="scrollDown()">

    <section id="s1" class="section">
        <div id="title-sponsor" class="titles">
            <h1 id="slogan-sponsor">{{ getTranslation('necesitamos') }}</h1> 
        </div>

        <div class="text-section sponsor-div-subtitle">
            <p class="sponsor-subtitle">{{ getTranslation('subtitulo') }}</p>
            <p class="cursiva">{{ getTranslation('cursiva') }}</p>
            <div class="links-container">
                <a class="sponsor-link" target="_blank" href="https://drive.google.com/file/d/1P998cJCgWDl2qZTJ9B6-nBC3JYSjlQRG/view?usp=share_link">Dossier partners</a>
            </div>
        </div>
    </section>

    <section id="s2" class="section">
        <div class="titles">
            <h2>Sponsors</h2>
            <h1>Premium</h1> 
        </div>

        <div class="logo-container-0">
            <a *ngFor="let sponsor of PREMIUM_SPONSOR;" target="_blank" [href]="sponsor.href" class="img-container">
                <img [src]="sponsor.image" [id]="sponsor.name" class="logo-sponsor">
            </a>
        </div>
    </section>
  
    <section id="s3" class="section">
        <div class="titles">
            <h1>Gold</h1> 
        </div>

        <div id="logos_gold" class="logo-container lcg logo-container-3">            
            <div *ngFor="let sponsor of GOLDEN_SPONSOR;">
                <a target="_blank" [href]="sponsor.href" class="img-cosicainer-gold">
                    <img [src]="sponsor.image" [id]="sponsor.name" class="logo-sponsor">
                </a>
            </div>
        </div>
    </section>
  
    <section id="s4" class="section">
        <div class="titles">
            <h1>Silver</h1> 
        </div>

        <div id="logos_silver" class="logo-container logo-container-4">
            <div *ngFor="let sponsor of SILVER_SPONSOR;">
                <a target="_blank" [href]="sponsor.href" class="img-cosicainer-silver">
                    <img [src]="sponsor.image" [id]="sponsor.name" class="logo-sponsor">
                </a>
            </div>
        </div>
    </section>

    <section id="s5" class="section">
        <div class="titles">
            <h1>Bronze</h1> 
        </div>

        <div id="logos_bronze" class="logo-container logo-container-5">
            <div *ngFor="let sponsor of BRONZE_SPONSOR;">
                <a target="_blank" [href]="sponsor.href" class="img-cosicainer-bronze">
                    <img [src]="sponsor.image" [id]="sponsor.name" class="logo-sponsor">
                </a>
            </div>
        </div>
    </section>

    <section id="s6" class="section">
        <div class="titles">
            <h1>Collaborators</h1> 
        </div>

        <div id="logos_collaborators" class="logo-container logo-container-4">
            <div *ngFor="let sponsor of COLLABORATORS;">
                <a target="_blank" [href]="sponsor.href" class="img-cosicainer-collaborators">
                    <img [src]="sponsor.image" [id]="sponsor.name" class="logo-sponsor">
                </a>
            </div>
        </div>

    </section>

    <span class="back-text">Sponsors</span>
</main>

<!-- Mobile -->

<main id="mobile">

    <section class="section">
        <div id="title-sponsor" class="titles">
            <h1 id="slogan-sponsor">{{ getTranslation('necesitamos') }}</h1> 
            <!-- <h2 id="slogan-sponsor-2">{{ getTranslation('slogan') }}</h2> -->
        </div>

        <div class="text-section sponsor-div-subtitle">
            <p class="sponsor-subtitle">{{ getTranslation('subtitulo') }}</p>

            <p class="cursiva">{{ getTranslation('cursiva') }}</p>
            
            <div class="links-container">
                <!-- <a class="sponsor-link" href="#">Dossier partners</a -->
                <a class="sponsor-link" target="_blank" href="https://drive.google.com/file/d/1tVsrZJ7ZUguj4es1GYtQDHHiozaMRBA0/view?usp=sharing">Dossier marketing</a>
            </div>
            
        </div>
    </section>

    <section class="section">
        <div class="titles">
            <h2>Partners</h2>
            <h1>Premium</h1> 
        </div>

        <div class="logo-container">
            <a *ngFor="let sponsor of PREMIUM_SPONSOR;" target="_blank" [href]="sponsor.href" class="img-container">
                <img [src]="sponsor.image" [id]="sponsor.name" class="logo-sponsor">
            </a>
        </div>
    </section>
  
    <section class="section">
        <div class="titles">
            <h1>Gold</h1> 
        </div>

        <div class="logo-container lcg logo-container-2">
            <div *ngFor="let sponsor of GOLDEN_SPONSOR;">
                <a target="_blank" [href]="sponsor.href" class="img-cosicainer-gold">
                    <img [src]="sponsor.image" [id]="sponsor.name" class="logo-sponsor">
                </a>
            </div>
        </div>
    </section>
  
    <section class="section">
        <div class="titles">
            <h1>Silver</h1> 
        </div>

        <div class="logo-container lcg logo-container-2">
            <div *ngFor="let sponsor of SILVER_SPONSOR;">
                <a target="_blank" [href]="sponsor.href" class="img-cosicainer-silver">
                    <img [src]="sponsor.image" [id]="sponsor.name" class="logo-sponsor">
                </a>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="titles">
            <h1>Bronze</h1> 
        </div>

        <div class="logo-container lcg logo-container-2">
            <div *ngFor="let sponsor of BRONZE_SPONSOR;">
                <a target="_blank" [href]="sponsor.href" class="img-cosicainer-bronze">
                    <img [src]="sponsor.image" [id]="sponsor.name" class="logo-sponsor">
                </a>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="titles">
            <h1>Collaborators</h1> 
        </div>

        <div class="logo-container lcg logo-container-2">
            <div *ngFor="let sponsor of COLLABORATORS;">
                <a target="_blank" [href]="sponsor.href" class="img-cosicainer-collaborators">
                    <img [src]="sponsor.image" [id]="sponsor.name" class="logo-sponsor">
                </a>
            </div>
        </div>
    </section>

    <span class="back-text">Sponsors</span>
    <span class="background"></span>
</main>