<main mouseWheel (mouseWheelUp)="scrollUp()" (mouseWheelDown)="scrollDown()">
    <section id="s1" class="section">
        <div class="titles">
            <h2>Sponsors</h2>
            <h1>Premium</h1> 
        </div>

        <div class="logo-container">
            <a target="_blank" href="https://ziurcomposites.com/" class="img-container">
                <img src="../../assets/Ziur.svg" class="logo-sponsor">
            </a>

            <a target="_blank" href="https://valenciacf.com" class="img-container">
                <img src="../../assets/Valencia.svg" id="valenciacf" class="logo-sponsor">
            </a>

            <a target="_blank" href="https://upv.es" class="img-container">
                <img src="../../assets/UPV.svg" id="upv" class="logo-sponsor">
            </a>
        </div>
    </section>
  
    <section id="s2" class="section">
        <div class="titles">
            <h1>Gold</h1> 
        </div>

        <div class="logo-container logo-container-2">
            <div>
                <a target="_blank" href="https://altium.com" class="img-container-gold">
                    <img src="../../assets/altium.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://ansys.com" class="img-container-gold">
                    <img src="../../assets/ansys.svg" id="ansys" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="http://www.jborrell.es/" class="img-container-gold">
                    <img src="../../assets/borrel.svg" id="borrel" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.circuitricardotormo.com/" class="img-container-gold">
                    <img src="../../assets/circuitricardotormo.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://arrozdacsa.com/" class="img-container-gold">
                    <img src="../../assets/arrozdacsa.svg" id="arroz" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://generacionespontanea.upv.es/" class="img-container-gold">
                    <img src="../../assets/generacionespontanea.svg" id="genespont" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.laservalencia.com/" class="img-container-gold">
                    <img src="../../assets/laser.svg" id="laser" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.mbha.com" class="img-container-gold">
                    <img src="../../assets/mbha.svg" id="mbha" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.mudinmar.com/es/" class="img-container-gold">
                    <img src="../../assets/mudinmar.svg" id="mbha" class="logo-sponsor">
                </a>
            </div>
        </div>
    </section>
  
    <section id="s3" class="section">
        <div class="titles">
            <h1>Silver</h1> 
        </div>

        <div class="logo-container logo-container-3">
            <div>
                <a target="_blank" href="https://www.gurit.com/" class="img-container-gold">
                    <img src="../../assets/gurit.svg" class="logo-sponsor">
                </a>
            </div>
            
            <div>
                <a target="_blank" href="https://www.hydro.com/es-ES" class="img-container-gold">
                    <img src="../../assets/hydro.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" id="we" href="https://www.wedirekt.com/es/" class="img-container-gold">
                    <img src="../../assets/we.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" id="jag" href="https://www.joseantoniogarcia.com/site/" class="img-container-gold">
                    <img src="../../assets/joseantonio.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.leybold.com" class="img-container-gold">
                    <img src="../../assets/leybold.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.mecanizadosgarrigues.es/" class="img-container-gold">
                    <img src="../../assets/mecanizados.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.tso.solar" class="img-container-gold">
                    <img src="../../assets/tso.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://es.rs-online.com/web/" class="img-container-gold">
                    <img src="../../assets/rs.svg" class="logo-sponsor">
                </a>
            </div>
            
            <div>
                <a target="_blank" href="https://www.sick.com/es/es/" class="img-container-gold">
                    <img src="../../assets/sick.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.smc.eu/en-eu" class="img-container-gold">
                    <img src="../../assets/smc.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.3ds.com/es/" class="img-container-gold">
                    <img src="../../assets/dassault.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://epidor.com/" class="img-container-gold">
                    <img src="../../assets/epidor.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.tecci.com/" class="img-container-gold">
                    <img src="../../assets/tecci.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.onirix.com/es/" class="img-container-gold">
                    <img src="../../assets/bal.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.peak-system.com/" class="img-container-gold">
                    <img src="../../assets/peak.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://jucosystems.com/" class="img-container-gold">
                    <img src="../../assets/juco.svg" class="logo-sponsor">
                </a>
            </div>
        </div>
    </section>

    <section id="s4" class="section">
        <div class="titles">
            <h1>Bronze</h1> 
        </div>

        <div class="logo-container logo-container-4">
            <div>
                <a target="_blank" href="http://www.etsid.upv.es/alumnos/" class="img-container-gold">
                    <img src="../../assets/etsid.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.bender.es/" class="img-container-gold">
                    <img src="../../assets/bender.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://globalvacuumpresses.com/es/" class="img-container-gold">
                    <img src="../../assets/global.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.3m.com.es/3M/es_ES/empresa-es/" class="img-container-gold">
                    <img src="../../assets/3m.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.ixys.com/" class="img-container-gold">
                    <img src="../../assets/ixys.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="http://mecanizadoonline.com/" class="img-container-gold">
                    <img src="../../assets/mecanizadoonline.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="http://www.metalcheck-cnc.com/" class="img-container-gold">
                    <img src="../../assets/metalcheck.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.nefab.com/es/home/" class="img-container-gold">
                    <img src="../../assets/nefab.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.silentflex.com/" class="img-container-gold">
                    <img src="../../assets/silentflex.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.tecnocaucho.com/" class="img-container-gold">
                    <img src="../../assets/tecno.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.analog.com/en/index.html" class="img-container-gold">
                    <img src="../../assets/analog.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.diabgroup.com/" class="img-container-gold">
                    <img src="../../assets/diab.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://3dconnexion.com/es/" class="img-container-gold">
                    <img src="../../assets/3dconnexion.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.rcmicro.es/" class="img-container-gold">
                    <img src="../../assets/rcmicro.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.infineon.com/" class="img-container-gold">
                    <img src="../../assets/infineon.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://3dzings.com/" class="img-container-gold">
                    <img src="../../assets/3dzings.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://umesal.com/" class="img-container-gold">
                    <img src="../../assets/umesal.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="http://www.cristaleriacrevillente.com/" class="img-container-gold">
                    <img src="../../assets/cristaleria.svg" class="logo-sponsor">
                </a>
            </div>
        </div>
    </section>

    <section id="s5" class="section">
        <div class="titles">
            <h1>Collaborators</h1> 
        </div>

        <div class="logo-container logo-container-3">
            <div>
                <a target="_blank" href="https://zeleros.com/" class="img-container-gold">
                    <img src="../../assets/zeleros.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.regalospublicitarios.com/" class="img-container-gold">
                    <img src="../../assets/regalos.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://es.mathworks.com/" class="img-container-gold">
                    <img src="../../assets/mathworks.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.cmt.upv.es/#/" class="img-container-gold">
                    <img src="../../assets/motores.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://dominiodelavega.com/" class="img-container-gold">
                    <img src="../../assets/dv.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://espanaglobal.gob.es/" class="img-container-gold">
                    <img src="../../assets/espglobal.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="http://www.upv.es/entidades/DIEI/" class="img-container-gold">
                    <img src="../../assets/die.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="http://borrell-usa.com/" class="img-container-gold">
                    <img src="../../assets/borrelusa.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.vectornav.com/" class="img-container-gold">
                    <img src="../../assets/vectornav.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="http://www.etsie.upv.es/" class="img-container-gold">
                    <img src="../../assets/etside.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://cervezatyris.com/" class="img-container-gold">
                    <img src="../../assets/tyris.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.hp.com/es-es/home.html" class="img-container-gold">
                    <img src="../../assets/hp.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.upv.es/entidades/DIMM/" class="img-container-gold">
                    <img src="../../assets/dm.svg" class="logo-sponsor">
                </a>
            </div>

            <div>
                <a target="_blank" href="https://www.mscsoftware.com/" class="img-container-gold">
                    <img src="../../assets/msc.svg" class="logo-sponsor">
                </a>
            </div>
        </div>
    </section>

    <span class="back-text">Sponsors</span>
</main>
  
