<header>
    <a (click)="onRouteTravel()" id="logoA" class="logo" routerLink="/" *ngIf="nightMode == false"><img src="/assets/logo-black.png" alt="Logo"></a>

    <a (click)="onRouteTravel()" class="logo" routerLink="/" *ngIf="nightMode == true"><img src="/assets/logo-white.png" alt="Logo"></a>

    <div id="menu" class="link-container">
        <a (click)="onRouteTravel()" routerLink="/equipo" class="header-link" [ngClass]="{'night': nightMode}">{{ getTranslation('equipo') }}</a>
        <a (click)="onRouteTravel()" routerLink="/acerca" class="header-link" [ngClass]="{'night': nightMode}">{{ getTranslation('acerca') }}</a>
        <a (click)="onRouteTravel()" routerLink="/noticias" class="header-link" [ngClass]="{'night': nightMode}">{{ getTranslation('noticias') }}</a>
        <a (click)="onRouteTravel()" routerLink="/sponsors" class="header-link" [ngClass]="{'night': nightMode}">{{ getTranslation('sponsors') }}</a>
        <a (click)="onRouteTravel()" routerLink="/contacto" class="header-link" [ngClass]="{'night': nightMode}">{{ getTranslation('contacto') }}</a>
    </div>

    <div [ngClass]="{'is-active': hamburgerMenu}" (click)="hamburger()" class="hamburger" id="hamburger">
        <span [ngClass]="{'hl': nightMode}" class="line"></span>
        <span [ngClass]="{'hl': nightMode}" class="line"></span>
        <span [ngClass]="{'hl': nightMode}" class="line"></span>
    </div> 
</header>

<nav [ngClass]="{'d-none': hamburgerMenu == false}"  id="menu-lat">
    <a (click)="onRouteTravel()" routerLink="/equipo" class="header-link">{{ getTranslation('equipo') }}</a>
    <a (click)="onRouteTravel()" routerLink="/acerca" class="header-link">{{ getTranslation('acerca') }}</a>
    <a (click)="onRouteTravel()" routerLink="/noticias" class="header-link">{{ getTranslation('noticias') }}</a>
    <a (click)="onRouteTravel()" routerLink="/sponsors" class="header-link">{{ getTranslation('sponsors') }}</a>
    <a (click)="onRouteTravel()" routerLink="/contacto" class="header-link">{{ getTranslation('contacto') }}</a>
</nav>

<button (click)="setLang()" class="lang"><img src="/assets/{{ getLang() }}" alt=""></button>
